@model MatchesPageViewModel

@{
    ViewData["Title"] = "Matches";
}

<div class="row">
    <div class="column left" style="background-color:rgb(59, 62, 69);">
        <h2>Lifetime stats:</h2>
    </div>

    <div class="column middle" style="background-color:rgb(59, 62, 69);">
        <p class="avatar"><img height="200" src="@Model.PlayerInfo.Avatar" style="border:5px solid orange; padding:3px; margin:5px"></p>
        <p class="nick">@Model.PlayerInfo.Nick    </p>
    </div>

    <div class="column right" style="background-color:rgb(59, 62, 69);">
        <h2>Last 20 matches:</h2>
    </div>

</div>

<table id="matches">
    <tr class="title-row">
        <th align="right">Date</th>
        <th>Score</th>
        <th>Elo</th>
        <th>Gain</th>
        <th>Map</th>
        <th>Team</th>
        <th>Stats</th>
        <th>Kd</th>
        <th>Kr</th>
        <th>Hs</th>
        <th>HLTV</th>
    </tr>

    @foreach (var item in Model.Matches)
    {
        <tr class="single-game">
            <td>@item.Date</td>
            <td>@item.Score</td>
            <td>@item.EloAfter</td>
            <td>@item.EloGain</td>
            <td>@item.Map</td>
            <td>@item.Team</td>
            <td>@item.Kills - @item.Deaths - @item.Assists</td>
            <td>@item.Kd</td>
            <td>@item.Kr</td>
            <td>@item.Hs%</td>
            <td>@item.HLTV</td>
        </tr>
    }
</table>

<style>
    #matches {
        text-align: center;
        height: 1400px;
        width: 1295px;
        border-collapse: separate;
        border-spacing: 0px 5px;
    }

    {
        box-sizing: border-box;
    }

    .column {
        float: left;
        padding: 10px;
        height: 300px;
    }

    .left, .right {
        color: white;
        text-align: center;
        width: 40%;
    }

    .middle {
        width: 20%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .avatar {
        color: white;
        text-align: center;      
    }

    .nick {
        color: white;
        text-align: center;
        font-size: 30px;
        font-family: 'Comic Sans MS';
    }

    .title-row {
        text-align: center;
        font-size: 18px;
        background-color: orange;
    }

    .single-game {
        color: white;
        text-align: center;
        font-size: 18px;
        background-color: rgb(59, 62, 69);
    }

    th:first-child {
        border-radius: 20px 0 0 20px;
    }

    th:last-child {
        border-radius: 0 20px 20px 0;
    }

    td:first-child {
        border-top-width: 3px;
        border-top-color: rgb(25, 252, 0);
        border-bottom-width: 3px;
        border-bottom-color: rgb(25, 252, 0);
        border-left-width: 3px;
        border-left-color: rgb(25, 252, 0);
        border-radius: 20px 0 0 20px;
    }


    td:last-child {
        border-top-width: 3px;
        border-top-color: rgb(25, 252, 0);
        border-bottom-width: 3px;
        border-bottom-color: rgb(25, 252, 0);
        border-right-width: 3px;
        border-right-color: rgb(25, 252, 0);
        border-radius: 0 20px 20px 0;
    }

    td:not(:first-child:last-child) {
        border-top-width: 3px;
        border-top-color: rgb(25, 252, 0);
        border-bottom-width: 3px;
        border-bottom-color: rgb(25, 252, 0);
    }
</style>