@model MatchesPageViewModel

@{
    ViewData["Title"] = "Matches";
}
<p class="header"><img height="100" src="@Model.PlayerInfo.Avatar"></p>
<p class="header">@Model.PlayerInfo.Nick    </p>

<table id="matches">
    <tr class="title-row">
        <th align="right">Date</th>
        <th>Score</th>
        <th>Elo</th>
        <th>Gain</th>
        <th>Map</th>
        <th>Team</th>
        <th>Stats</th>
        <th>Kd</th>
        <th>Kr</th>
        <th>Hs</th>
        <th>HLTV</th>
    </tr>

    @foreach (var item in Model.Matches)
    {
        <tr class="single-game">
            <td>@item.Date</td>
            <td>@item.Score</td>
            <td>@item.EloAfter</td>
            <td>@item.EloGain</td>
            <td>@item.Map</td>
            <td>@item.Team</td>
            <td>@item.Stats</td>
            <td>@item.Kd</td>
            <td>@item.Kr</td>
            <td>@item.Hs%</td>
            <td>@item.HLTV</td>
        </tr>
    }
</table>

<style>
    #matches {
        height: 1200px;
        width: 1285px;
        border-collapse: separate;
        border-spacing: 0px 10px;
    }

    .header {
        color: white;
        text-align: center;
    }

    .title-row {
        text-align: center;
        background-color: orange;
    }

    .single-game {
        color: white;
        text-align: center;
        background-color: rgb(59, 62, 69);
    }

    th:first-child {
        border-radius: 20px 0 0 20px;
    }

    th:last-child {
        border-radius: 0 20px 20px 0;
    }

    td:first-child {
        border-top-width: 5px;
        border-top-color: green;
        border-bottom-width: 5px;
        border-bottom-color: green;
        border-left-width: 5px;
        border-left-color: green;
        border-radius: 20px 0 0 20px;
    }


    td:last-child {
        border-top-width: 5px;
        border-top-color: green;
        border-bottom-width: 5px;
        border-bottom-color: green;
        border-right-width: 5px;
        border-right-color: green;
        border-radius: 0 20px 20px 0;
    }

    td:not(:first-child:last-child) {
        border-top-width: 5px;
        border-top-color: green;
        border-bottom-width: 5px;
        border-bottom-color: green;
    }
</style>